In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# 분석에 사용할 pandas, 수치계산에 사용할 numpy, 데이터시각화에 사용할 seaborn을 불러온다.
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
# seaborn은 matplotlib를 사용하기 쉽게, 고급통계기술을 사용하도록 만들어진 라이브러리임
# seaborn은 matplotlib을 통해 만들어졌기 때문에 폰트 변경, 스타일 지정, 그래프 사이즈 조정, 서브플롯 그리기 등에서 matplotlib을 같이 사용 가능
# 또, 구 버전의 주피터 노트북에서는 %matplotlib inline 설정이 되어야 노트북 안에서 그래프를 시각화한다.
%matplotlib inline

In [3]:
# 레티나 설정을 해주면 글씨가 좀 더 선명하게 보인다.
# 폰트의 주변이 흐릿하게 보이는 것을 방지한다.
%config InlineBackend.figure_format = 'retina'

In [4]:
# 시각화를 위한 폰트 설정
import os

# os.name # mac이면 'posix'가 뜬다.
if os.name == 'posix':
    sns.set(font="AppleGothic")
elif os.name == 'nt':
    sns.set(font="Malgun Gothic")

In [5]:
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

In [6]:
# Google Colab 사용 시 아래 주속을 풀고 폰트 설정 하기
# 로컬 아나콘다 사용 시 그대로 주석처리 해놓기
# 나눔고딕 설치
# 이 코드를 사용시 아래에 있는 폰트를 로드할 경우 colab에서는 오류가 발생하니
# 아래에 있는 폰트 설정은 꼭 주석처리를 해주기
!apt -qq -y install fonts-nanum > /deb/null

import matplotlib.font_manager as fm

fontpath = '/usr/share/fonts/truetype/nanum/NanumBarunGothic.ttf'
font = fm.FontProperties(fname=fontpath, size=9)
# fm._rebuild()

# Colab의 한글 폰트 설정
plt.rc('font', family='NanumGothic')
# 마이너스 폰트 깨지는 문제에 대한 대처
plt.rc("axes", unicode_minus=False)

지정된 경로를 찾을 수 없습니다.

In [48]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/2021_아토피_데이터.csv"

# 2020 1번째 데이터 불러오기
df_2021 = pd.read_csv(file_path, encoding="cp949")
df_2021

,STND_Y,IDV_ID,KEY_SEQ,SEX,AGE_GROUP,SIDO,RECU_FR_DT,FORM_CD,DSBJT_CD,MAIN_SICK,SUB_SICK,VSCN,RECN,EDEC_ADD_RT,EDEC_TRAMT,EDEC_SBRDN_AMT,EDEC_JBRDN_AMT,TOT_PRES_DD_CNT,DATA_STD_DT
0,2021,576708,7648490,1,14,26,2021-08-09,3,1,I109,L2088,1,1,0.15,11780,1500,10280,0,2022-08-11
1,2021,929873,6095332,2,14,41,2021-10-06,3,1,L209,K529,1,1,0.15,11780,1500,10280,0,2022-08-11
2,2021,836147,992971,2,15,47,2021-01-06,3,1,L209,R768,1,1,0.15,11780,1500,10280,0,2022-08-11
3,2021,948303,7759686,2,17,30,2021-08-02,3,1,L039,L209,1,1,0.15,11780,1500,10280,0,2022-08-11
4,2021,735346,10035549,1,17,11,2021-06-18,3,1,E119,L209,1,1,0.15,11780,1500,10280,0,2022-08-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70026,2021,167101,5354651,2,1,41,2021-10-31,2,11,J189,L209,4,11,0.20,644710,47040,597670,0,2022-08-11
70027,2021,438174,6293885,2,5,44,2021-09-04,2,1,L209,M6269,0,0,0.25,264320,52860,211460,0,2022-08-11
70028,2021,488518,11625508,1,1,41,2021-04-24,3,11,L309,L209,0,0,0.15,10280,500,9780,0,2022-08-11
70029,2021,915454,7062199,1,11,11,2021-08-22,2,1,C220,L2088,4,11,0.25,3585260,193350,3391910,0,2022-08-11
70030,2021,178846,1927241,1,1,30,2021-02-07,2,11,J180,L209,4,7,0.20,775360,55240,720120,0,2022-08-11

In [49]:
df_2021_new = df_2021.rename(columns={
    'STND_Y': '기준년도',
    'IDV_ID': '가입자일련번호',
    'KEY_SEQ': '진료내역일련번호',
    'SEX': '성별코드',
    'AGE_GROUP': '연령대코드',
    'SIDO': '시도코드',
    'RECU_FR_DT': '요양개시일자',
    'FORM_CD': '서식코드',
    'DSBJT_CD': '진료과목코드',
    'MAIN_SICK': '주상병코드',
    'SUB_SICK': '부상병코드',
    'VSCN': '요양일수',
    'RECN': '입내원일수',
    'EDEC_ADD_RT': '심결가산율',
    'EDEC_TRAMT': '심결요양급여비용총액',
    'EDEC_SBRDN_AMT': '심결본인부담금',
    'EDEC_JBRDN_AMT': '심결보험자부담금',
    'TOT_PRES_DD_CNT': '총처방일수',
    'DATA_STD_DT': '데이터기준일자'
})
df_2021_new

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
0,2021,576708,7648490,1,14,26,2021-08-09,3,1,I109,L2088,1,1,0.15,11780,1500,10280,0,2022-08-11
1,2021,929873,6095332,2,14,41,2021-10-06,3,1,L209,K529,1,1,0.15,11780,1500,10280,0,2022-08-11
2,2021,836147,992971,2,15,47,2021-01-06,3,1,L209,R768,1,1,0.15,11780,1500,10280,0,2022-08-11
3,2021,948303,7759686,2,17,30,2021-08-02,3,1,L039,L209,1,1,0.15,11780,1500,10280,0,2022-08-11
4,2021,735346,10035549,1,17,11,2021-06-18,3,1,E119,L209,1,1,0.15,11780,1500,10280,0,2022-08-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70026,2021,167101,5354651,2,1,41,2021-10-31,2,11,J189,L209,4,11,0.20,644710,47040,597670,0,2022-08-11
70027,2021,438174,6293885,2,5,44,2021-09-04,2,1,L209,M6269,0,0,0.25,264320,52860,211460,0,2022-08-11
70028,2021,488518,11625508,1,1,41,2021-04-24,3,11,L309,L209,0,0,0.15,10280,500,9780,0,2022-08-11
70029,2021,915454,7062199,1,11,11,2021-08-22,2,1,C220,L2088,4,11,0.25,3585260,193350,3391910,0,2022-08-11
70030,2021,178846,1927241,1,1,30,2021-02-07,2,11,J180,L209,4,7,0.20,775360,55240,720120,0,2022-08-11

In [50]:
# '요양개시일자' 열을 datetime 형식으로 변환
df_2021_new['요양개시일자'] = pd.to_datetime(df_2021_new['요양개시일자'])

In [51]:
# '시도코드'와 '요양개시일자'를 기준으로 그룹화하고 환자 수를 계산
grouped_df_2021 = df_2021_new.groupby(['시도코드', '요양개시일자']).size().reset_index(name='환자 수')
grouped_df_2021

      시도코드     요양개시일자  환자 수
0       11 2021-01-01     1
1       11 2021-01-02    39
2       11 2021-01-03     2
3       11 2021-01-04    54
4       11 2021-01-05    45
...    ...        ...   ...
5539    49 2021-12-27     4
5540    49 2021-12-28     4
5541    49 2021-12-29     6
5542    49 2021-12-30     3
5543    49 2021-12-31     2

[5544 rows x 3 columns]

In [52]:
# 총 환자 수 계산
total_patient_count_2021 = grouped_df_2021['환자 수'].sum()
total_patient_count_2021

70031

In [53]:
from datetime import datetime, timedelta
# 2020년의 모든 날짜 생성
start_date = datetime(2021, 1, 1)
end_date = datetime(2021, 12, 31)
all_dates = pd.date_range(start_date, end_date)

# 주어진 데이터에서 사용된 날짜 추출
used_dates = pd.to_datetime(grouped_df_2021['요양개시일자'], format='%Y-%m-%d')

# 결측치 확인
missing_dates = all_dates[~all_dates.isin(used_dates)]

print(f'결측치가 있는 날짜 수: {len(missing_dates)}')
print('결측치가 있는 날짜 목록:')
print(missing_dates)

결측치가 있는 날짜 수: 0
결측치가 있는 날짜 목록:
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

# 2020 데이터 합치기

In [8]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2020_1.CSV"

# 2020 1번째 데이터 불러오기
df_2020_1 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2020_1_ = df_2020_1[df_2020_1['주상병코드'].str.contains('L20', na=False) | df_2020_1['부상병코드'].str.contains('L20', na=False)]
df_2020_1_

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
5401,2020,90666,11246961,1,16,11,2020-04-29,3,1,I109,L209,1,1,0.15,11540,1500,10040,2,2021-12-28
7479,2020,103273,5410187,1,17,11,2020-10-05,3,1,I109,L2080,1,1,0.15,11540,1500,10040,15,2021-12-28
7583,2020,145435,4766408,2,17,11,2020-10-19,3,1,I109,L2080,1,1,0.15,11540,1500,10040,1,2021-12-28
7584,2020,145435,5581762,2,17,11,2020-09-28,3,1,I109,L2080,1,1,0.15,11540,1500,10040,4,2021-12-28
7587,2020,145435,5583619,2,17,11,2020-09-14,3,1,I109,L2080,1,1,0.15,11540,1500,10040,7,2021-12-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907342,2020,258985,4501507,1,2,44,2020-11-21,3,14,L2088,L248,1,2,0.15,16470,3400,13070,3,2021-12-28
3907361,2020,265796,1233893,2,6,47,2020-03-21,3,14,L219,L2088,1,2,0.15,28050,8400,19650,3,2021-12-28
3907446,2020,289565,11577758,1,5,46,2020-03-06,2,14,L209,L280,1,15,0.25,937810,187550,750260,0,2021-12-28
3907717,2020,219565,1807456,1,3,41,2020-02-15,3,14,L209,L249,1,2,0.15,47440,14200,33240,0,2021-12-28
3907782,2020,314308,4603129,1,2,36,2020-10-09,3,13,J303,L2088,1,6,0.15,21390,6400,14990,6,2021-12-28

In [9]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2020_2.CSV"

# 2020 2번째 데이터 불러오기
df_2020_2 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2020_2_ = df_2020_2[df_2020_2['주상병코드'].str.contains('L20', na=False) | df_2020_2['부상병코드'].str.contains('L20', na=False)]
df_2020_2_

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
1852,2020,625240,10443592,1,14,41,2020-04-27,3,1,I109,L209,1,1,0.15,11540,1500,10040,90,2021-12-28
3320,2020,413271,7084060,2,15,11,2020-08-14,3,1,I109,L2088,1,1,0.15,11540,1500,10040,60,2021-12-28
7316,2020,369715,4143178,2,18,45,2020-12-09,3,1,I109,L209,1,1,0.15,11540,1500,10040,30,2021-12-28
8747,2020,519259,5558764,1,15,11,2020-10-19,3,1,B022,L2088,1,1,0.15,11540,1500,10040,5,2021-12-28
9573,2020,452773,2142877,2,18,44,2020-01-20,3,1,N_,L209,1,1,0.15,11540,1500,10040,10,2021-12-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3903707,2020,408681,1206342,1,2,11,2020-03-07,3,14,L2088,L209,1,2,0.15,21070,4400,16670,1,2021-12-28
3903792,2020,439029,1619788,2,13,11,2020-03-07,3,15,L239,L2083,1,58,0.15,20370,6000,14370,58,2021-12-28
3903909,2020,478744,999039,2,14,11,2020-03-14,3,14,L239,L209,1,2,0.15,15970,1500,14470,4,2021-12-28
3904302,2020,601671,351332,2,6,41,2020-03-21,3,14,L80,L209,1,2,0.15,88000,26400,61600,0,2021-12-28
3912201,2020,516232,10357091,2,7,11,2020-06-07,2,1,L2080,L853,2,2,0.15,88190,17630,70560,0,2021-12-28

In [10]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2020_3.CSV"

# 2020 2번째 데이터 불러오기
df_2020_3 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2020_3_ = df_2020_3[df_2020_3['주상병코드'].str.contains('L20', na=False) | df_2020_3['부상병코드'].str.contains('L20', na=False)]
df_2020_3_

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
6078,2020,978947,7983221,2,14,26,2020-07-27,3,1,I109,L209,1,1,0.15,11540,1500,10040,1,2021-12-28
9691,2020,811488,1698258,1,16,45,2020-01-02,3,1,L209,K297,1,1,0.15,11540,1500,10040,20,2021-12-28
13748,2020,800580,1038654,1,14,26,2020-03-20,3,1,L209,J304,1,1,0.15,11540,1500,10040,5,2021-12-28
26003,2020,790794,860284,1,17,44,2020-01-20,3,1,L209,J303,1,1,0.15,11540,1500,10040,30,2021-12-28
26004,2020,790794,280774,1,17,44,2020-02-24,3,1,L209,J303,1,1,0.15,11540,1500,10040,30,2021-12-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3904785,2020,818698,3862486,2,3,11,2020-11-06,2,11,L209,R730,6,13,0.30,1060900,92350,968550,0,2021-12-28
3904946,2020,874717,6353380,2,3,11,2020-09-19,3,14,L209,L238,1,2,0.15,39310,11700,27610,4,2021-12-28
3904947,2020,874717,6353352,2,3,11,2020-09-26,3,14,L209,L238,1,2,0.15,41220,12300,28920,3,2021-12-28
3905087,2020,948025,9846470,1,3,42,2020-05-09,3,11,L509,L209,1,2,0.15,20150,6000,14150,2,2021-12-28
3905182,2020,993435,6284856,2,3,41,2020-09-12,3,8,L209,L853,1,2,0.15,20140,1000,19140,0,2021-12-28

In [11]:
# 세 데이터프레임을 아래로 합치기
df_2020_total = pd.concat([df_2020_1_, df_2020_2_, df_2020_3_], ignore_index=True)
df_2020_total

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2020,90666,11246961,1,16,11,2020-04-29,3,1,I109,L209,1,1,0.15,11540,1500,10040,2,2021-12-28
1,2020,103273,5410187,1,17,11,2020-10-05,3,1,I109,L2080,1,1,0.15,11540,1500,10040,15,2021-12-28
2,2020,145435,4766408,2,17,11,2020-10-19,3,1,I109,L2080,1,1,0.15,11540,1500,10040,1,2021-12-28
3,2020,145435,5581762,2,17,11,2020-09-28,3,1,I109,L2080,1,1,0.15,11540,1500,10040,4,2021-12-28
4,2020,145435,5583619,2,17,11,2020-09-14,3,1,I109,L2080,1,1,0.15,11540,1500,10040,7,2021-12-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71797,2020,818698,3862486,2,3,11,2020-11-06,2,11,L209,R730,6,13,0.30,1060900,92350,968550,0,2021-12-28
71798,2020,874717,6353380,2,3,11,2020-09-19,3,14,L209,L238,1,2,0.15,39310,11700,27610,4,2021-12-28
71799,2020,874717,6353352,2,3,11,2020-09-26,3,14,L209,L238,1,2,0.15,41220,12300,28920,3,2021-12-28
71800,2020,948025,9846470,1,3,42,2020-05-09,3,11,L509,L209,1,2,0.15,20150,6000,14150,2,2021-12-28
71801,2020,993435,6284856,2,3,41,2020-09-12,3,8,L209,L853,1,2,0.15,20140,1000,19140,0,2021-12-28

In [12]:
# '요양개시일자' 열을 datetime 형식으로 변환
df_2020_total['요양개시일자'] = pd.to_datetime(df_2020_total['요양개시일자'])

In [13]:
# '시도코드'와 '요양개시일자'를 기준으로 그룹화하고 환자 수를 계산
grouped_df_2020 = df_2020_total.groupby(['시도코드', '요양개시일자']).size().reset_index(name='환자 수')
grouped_df_2020

      시도코드     요양개시일자  환자 수
0       11 2020-01-01     1
1       11 2020-01-02    54
2       11 2020-01-03    51
3       11 2020-01-04    29
4       11 2020-01-06    57
...    ...        ...   ...
5531    49 2020-12-26     3
5532    49 2020-12-28     4
5533    49 2020-12-29     3
5534    49 2020-12-30     2
5535    49 2020-12-31     1

[5536 rows x 3 columns]

In [14]:
# 총 환자 수 계산
total_patient_count_2020 = grouped_df_2020['환자 수'].sum()
total_patient_count_2020

71802

In [15]:
from datetime import datetime, timedelta
# 2020년의 모든 날짜 생성
start_date = datetime(2020, 1, 1)
end_date = datetime(2020, 12, 31)
all_dates = pd.date_range(start_date, end_date)

# 주어진 데이터에서 사용된 날짜 추출
used_dates = pd.to_datetime(grouped_df_2020['요양개시일자'], format='%Y-%m-%d')

# 결측치 확인
missing_dates = all_dates[~all_dates.isin(used_dates)]

print(f'결측치가 있는 날짜 수: {len(missing_dates)}')
print('결측치가 있는 날짜 목록:')
print(missing_dates)

결측치가 있는 날짜 수: 0
결측치가 있는 날짜 목록:
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

# 2019 데이터 합치기

In [16]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2019_1.csv"

# 2020 1번째 데이터 불러오기
df_2019_1 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2019_1_ = df_2019_1[df_2019_1['주상병코드'].str.contains('L20', na=False) | df_2019_1['부상병코드'].str.contains('L20', na=False)]
df_2019_1_

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
217,2019,16,108894163,2,4,27,20190813,3,23,L509,L2088,1,1,0.15,15690,4700,10990,3,20201222
1108,2019,96,111312451,2,8,42,20190611,3,14,L249,L209,1,1,0.15,17490,5200,12290,3,20201222
1112,2019,96,111303028,2,8,42,20190624,3,14,L249,L209,1,1,0.15,11210,3300,7910,4,20201222
1114,2019,96,111315064,2,8,42,20190614,3,14,L249,L209,1,1,0.15,13010,3900,9110,4,20201222
1744,2019,146,104943195,1,7,41,20191008,3,1,L308,L209,1,1,0.30,299680,187400,112280,28,20201222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4623925,2019,349984,100629718,2,3,11,20190307,3,14,L2088,L500,1,1,0.15,20770,6200,14570,0,20201222
4623926,2019,349984,101541585,2,3,11,20190219,3,14,L2088,L500,1,1,0.15,20770,6200,14570,0,20201222
4623927,2019,349984,101310263,2,3,11,20190112,3,14,L2088,L500,1,1,0.15,23220,6900,16320,1,20201222
4623934,2019,349984,101200994,2,3,11,20190209,3,11,L209,E228,1,1,0.30,125310,81100,44210,1,20201222
4623956,2019,349987,111281293,2,8,11,20190625,3,14,L238,L2083,1,1,0.15,15690,4700,10990,1,20201222

In [17]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2019_2.csv"

# 2020 1번째 데이터 불러오기
df_2019_2 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2019_2_ = df_2019_2[df_2019_2['주상병코드'].str.contains('L20', na=False) | df_2019_2['부상병코드'].str.contains('L20', na=False)]
df_2019_2_

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
250,2019,350026,112082296,2,6,46,20190426,3,1,J202,L2088,1,1,0.15,15690,4700,10990,3,20201222
686,2019,350066,112943591,2,5,28,20190411,3,14,L209,L239,1,1,0.15,19580,5800,13780,5,20201222
1014,2019,350094,104584855,2,8,41,20191028,3,1,R42,L209,1,1,0.15,11210,3300,7910,7,20201222
1023,2019,350094,103877038,2,8,41,20191104,3,1,R42,L209,1,1,0.15,11210,3300,7910,7,20201222
1181,2019,350108,103018688,1,1,27,20190318,3,15,L209,B353,1,1,0.15,20460,4200,16260,1,20201222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4601305,2019,699879,105107850,1,14,42,20191127,3,14,L209,L299,1,1,0.15,15810,1500,14310,30,20201222
4601395,2019,699887,104118673,2,7,11,20191109,3,5,S0080,L209,1,1,0.15,26500,7900,18600,0,20201222
4601716,2019,699915,106641422,2,1,11,20191001,3,14,L0109,L209,1,1,0.15,16600,3400,13200,2,20201222
4602718,2019,699996,102995926,1,8,11,20190307,3,14,L209,K297,1,1,0.15,15690,4700,10990,3,20201222
4602749,2019,699998,109128114,1,12,45,20190729,3,14,L80,L209,1,1,0.15,31450,9400,22050,1,20201222

In [18]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2019_3.csv"

# 2020 1번째 데이터 불러오기
df_2019_3 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2019_3_ = df_2019_3[df_2019_3['주상병코드'].str.contains('L20', na=False) | df_2019_3['부상병코드'].str.contains('L20', na=False)]
df_2019_3_

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
35,2019,700005,106106558,1,10,11,20191122,3,14,L209,M79100,1,1,0.15,13470,4000,9470,3,20201222
303,2019,700031,112074873,2,2,31,20190529,3,14,L209,L011,1,1,0.15,16600,3400,13200,7,20201222
476,2019,700036,112474546,1,2,11,20190422,3,14,L0109,L209,1,1,0.15,11210,3300,7910,4,20201222
478,2019,700036,112511902,1,2,11,20190418,3,14,L0109,L209,1,1,0.15,15690,4700,10990,4,20201222
551,2019,700042,112921289,2,7,26,20190403,3,4,L209,L500,1,1,0.15,21780,6500,15280,5,20201222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3950248,2019,999898,108743978,1,1,11,20190923,3,11,J069,L2088,1,1,0.15,17890,800,17090,2,20201222
3950990,2019,999969,110686264,2,5,41,20190502,3,4,T2020,L209,1,1,0.15,40420,12100,28320,3,20201222
3950991,2019,999969,110397418,2,5,41,20190503,3,14,L218,L2088,1,1,0.15,15690,4700,10990,4,20201222
3950997,2019,999969,109823190,2,5,41,20190716,3,14,L209,L308,1,1,0.30,22120,19200,2920,35,20201222
3951002,2019,999969,110397419,2,5,41,20190510,3,14,L218,L2088,1,1,0.15,11210,3300,7910,5,20201222

In [19]:
# 세 데이터프레임을 아래로 합치기
df_2019_total = pd.concat([df_2019_1_, df_2019_2_, df_2019_3_], ignore_index=True)
df_2019_total

,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자
0,2019,16,108894163,2,4,27,20190813,3,23,L509,L2088,1,1,0.15,15690,4700,10990,3,20201222
1,2019,96,111312451,2,8,42,20190611,3,14,L249,L209,1,1,0.15,17490,5200,12290,3,20201222
2,2019,96,111303028,2,8,42,20190624,3,14,L249,L209,1,1,0.15,11210,3300,7910,4,20201222
3,2019,96,111315064,2,8,42,20190614,3,14,L249,L209,1,1,0.15,13010,3900,9110,4,20201222
4,2019,146,104943195,1,7,41,20191008,3,1,L308,L209,1,1,0.30,299680,187400,112280,28,20201222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64879,2019,999898,108743978,1,1,11,20190923,3,11,J069,L2088,1,1,0.15,17890,800,17090,2,20201222
64880,2019,999969,110686264,2,5,41,20190502,3,4,T2020,L209,1,1,0.15,40420,12100,28320,3,20201222
64881,2019,999969,110397418,2,5,41,20190503,3,14,L218,L2088,1,1,0.15,15690,4700,10990,4,20201222
64882,2019,999969,109823190,2,5,41,20190716,3,14,L209,L308,1,1,0.30,22120,19200,2920,35,20201222
64883,2019,999969,110397419,2,5,41,20190510,3,14,L218,L2088,1,1,0.15,11210,3300,7910,5,20201222

In [20]:
# '요양개시일자' 열을 datetime 형식으로 변환
df_2019_total['요양개시일자'] = pd.to_datetime(df_2019_total['요양개시일자'], format='%Y%m%d')
df_2019_total['요양개시일자']

0       2019-08-13
1       2019-06-11
2       2019-06-24
3       2019-06-14
4       2019-10-08
           ...
64879   2019-09-23
64880   2019-05-02
64881   2019-05-03
64882   2019-07-16
64883   2019-05-10
Name: 요양개시일자, Length: 64884, dtype: datetime64[ns]

In [21]:
# '시도코드'와 '요양개시일자'를 기준으로 그룹화하고 환자 수를 계산
grouped_df_2019 = df_2019_total.groupby(['시도코드', '요양개시일자']).size().reset_index(name='환자 수')
grouped_df_2019

      시도코드     요양개시일자  환자 수
0       11 2019-01-01     2
1       11 2019-01-02    47
2       11 2019-01-03    41
3       11 2019-01-04    46
4       11 2019-01-05    29
...    ...        ...   ...
5452    49 2019-12-24     2
5453    49 2019-12-26     5
5454    49 2019-12-27     1
5455    49 2019-12-30     3
5456    49 2019-12-31     3

[5457 rows x 3 columns]

In [22]:
# 총 환자 수 계산
total_patient_count_2019 = grouped_df_2019['환자 수'].sum()
total_patient_count_2019

64884

In [23]:
from datetime import datetime, timedelta
# 2019년의 모든 날짜 생성
start_date = datetime(2019, 1, 1)
end_date = datetime(2019, 12, 31)
all_dates = pd.date_range(start_date, end_date)

# 주어진 데이터에서 사용된 날짜 추출
used_dates = pd.to_datetime(grouped_df_2019['요양개시일자'], format='%Y-%m-%d')

# 결측치 확인
missing_dates = all_dates[~all_dates.isin(used_dates)]

print(f'결측치가 있는 날짜 수: {len(missing_dates)}')
print('결측치가 있는 날짜 목록:')
print(missing_dates)

결측치가 있는 날짜 수: 0
결측치가 있는 날짜 목록:
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

# 2018년 데이터 합치기

In [24]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2018_1.csv"

# 2018 1번째 데이터 불러오기
df_2018_1 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2018_1_ = df_2018_1[df_2018_1['주상병코드'].str.contains('L20', na=False) | df_2018_1['부상병코드'].str.contains('L20', na=False)]
df_2018_1_

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
354,2018,350031,18299736,1,8,41,20181211,3,14,L209,L26,1,1,0.15,15310,4500,10810,1,20191217
413,2018,350038,4443979,2,3,11,20180116,3,14,L209,L0282,1,1,0.15,31080,9300,21780,1,20191217
414,2018,350038,8760027,2,3,11,20180123,3,14,L0282,L209,1,1,0.15,26840,8000,18840,0,20191217
1532,2018,350104,56357843,2,1,31,20180604,3,11,L2082,L309,1,1,0.20,17300,1700,15600,1,20191217
1540,2018,350104,41765035,2,1,31,20180702,3,11,L2082,R509,1,1,0.20,12350,1200,11150,2,20191217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4541717,2018,699922,14689789,2,1,30,20180309,3,11,Z269,L209,1,1,0.20,11630,1600,10030,3,20191217
4541723,2018,699922,7557457,2,1,30,20180106,3,11,Z269,L209,1,1,0.20,11630,1600,10030,1,20191217
4542098,2018,699949,23206700,2,10,27,20181102,3,13,J209,L209,1,1,0.15,18880,5600,13280,3,20191217
4542222,2018,699957,19223510,2,7,11,20181215,3,14,L209,L238,1,1,0.15,112900,33800,79100,7,20191217
4542615,2018,699985,61208330,1,16,48,20180411,3,14,L209,G479,1,1,0.15,17060,1700,15360,5,20191217

In [25]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2018_2.csv"

# 2018 1번째 데이터 불러오기
df_2018_2 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2018_2_ = df_2018_2[df_2018_2['주상병코드'].str.contains('L20', na=False) | df_2018_2['부상병코드'].str.contains('L20', na=False)]
df_2018_2_

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
96,2018,700008,56012722,1,2,29,20180403,3,14,L209,H109,1,1,0.15,15310,4500,10810,7,20191217
98,2018,700008,7941450,1,2,29,20180127,3,14,L209,H105,1,1,0.15,19110,5700,13410,5,20191217
329,2018,700028,57303479,2,1,31,20180601,3,11,L209,J209,1,1,0.15,11500,2400,9100,4,20191217
664,2018,700054,40329572,2,12,29,20180910,3,4,L209,J42,1,1,0.15,10950,3200,7750,7,20191217
735,2018,700058,30947007,2,15,11,20181013,3,10,N_,L2088,1,1,0.15,19110,1900,17210,84,20191217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878635,2018,999860,282753,2,5,44,20180206,3,14,L2088,J304,1,1,0.15,15310,4500,10810,10,20191217
3878923,2018,999882,20982489,2,5,42,20181212,3,14,L2088,L219,1,1,0.15,15310,4500,10810,1,20191217
3879165,2018,999903,38054089,2,13,42,20180919,3,1,L209,I109,1,1,0.15,36360,10900,25460,3,20191217
3880200,2018,999982,31141738,2,8,11,20181005,3,14,L219,L209,1,1,0.15,10950,3200,7750,7,20191217
3880203,2018,999982,38417591,2,8,11,20180927,3,14,L219,L209,1,1,0.15,15310,4500,10810,3,20191217

In [26]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2018_3.csv"

# 2018 1번째 데이터 불러오기
df_2018_3 = pd.read_csv(file_path, encoding="cp949")

# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2018_3_ = df_2018_3[df_2018_3['주상병코드'].str.contains('L20', na=False) | df_2018_3['부상병코드'].str.contains('L20', na=False)]
df_2018_3_

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
419,2018,19,41051482,1,1,11,20180803,3,14,L309,L209,1,1,0.15,12300,2500,9800,1,20191217
587,2018,29,7944537,2,2,28,20180109,3,13,L309,L209,1,1,0.15,11500,2400,9100,3,20191217
1408,2018,74,24457427,2,11,30,20181127,3,13,H6058,L209,1,1,0.15,16080,4800,11280,7,20191217
1582,2018,82,62065907,2,17,41,20180509,3,14,L500,L2088,1,1,0.15,10970,1500,9470,7,20191217
2873,2018,174,50685159,1,1,11,20180601,3,13,J304,L209,1,1,0.15,17470,3600,13870,4,20191217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4549556,2018,349906,62832420,1,5,41,20180409,3,14,L2088,L210,1,1,0.15,13020,3900,9120,7,20191217
4549557,2018,349906,7825977,1,5,41,20180110,3,14,L2088,L853,1,1,0.15,13020,3900,9120,1,20191217
4550002,2018,349944,34471832,1,4,11,20181030,3,14,L209,L239,1,1,0.15,15310,4500,10810,5,20191217
4550223,2018,349967,30279066,2,7,27,20181016,3,14,L209,B001,1,1,0.15,15310,4500,10810,4,20191217
4550232,2018,349968,62841166,2,11,48,20180417,3,14,L249,L209,1,1,0.15,17040,5100,11940,10,20191217

In [27]:
# 세 데이터프레임을 아래로 합치기
df_2018_total = pd.concat([df_2018_1_, df_2018_2_, df_2018_3_], ignore_index=True)
df_2018_total

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
0,2018,350031,18299736,1,8,41,20181211,3,14,L209,L26,1,1,0.15,15310,4500,10810,1,20191217
1,2018,350038,4443979,2,3,11,20180116,3,14,L209,L0282,1,1,0.15,31080,9300,21780,1,20191217
2,2018,350038,8760027,2,3,11,20180123,3,14,L0282,L209,1,1,0.15,26840,8000,18840,0,20191217
3,2018,350104,56357843,2,1,31,20180604,3,11,L2082,L309,1,1,0.20,17300,1700,15600,1,20191217
4,2018,350104,41765035,2,1,31,20180702,3,11,L2082,R509,1,1,0.20,12350,1200,11150,2,20191217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65043,2018,349906,62832420,1,5,41,20180409,3,14,L2088,L210,1,1,0.15,13020,3900,9120,7,20191217
65044,2018,349906,7825977,1,5,41,20180110,3,14,L2088,L853,1,1,0.15,13020,3900,9120,1,20191217
65045,2018,349944,34471832,1,4,11,20181030,3,14,L209,L239,1,1,0.15,15310,4500,10810,5,20191217
65046,2018,349967,30279066,2,7,27,20181016,3,14,L209,B001,1,1,0.15,15310,4500,10810,4,20191217
65047,2018,349968,62841166,2,11,48,20180417,3,14,L249,L209,1,1,0.15,17040,5100,11940,10,20191217

In [28]:
# '요양개시일자' 열을 datetime 형식으로 변환
df_2018_total['요양개시일자'] = pd.to_datetime(df_2018_total['요양개시일자'], format='%Y%m%d')
df_2018_total['요양개시일자']

0       2018-12-11
1       2018-01-16
2       2018-01-23
3       2018-06-04
4       2018-07-02
           ...
65043   2018-04-09
65044   2018-01-10
65045   2018-10-30
65046   2018-10-16
65047   2018-04-17
Name: 요양개시일자, Length: 65048, dtype: datetime64[ns]

In [29]:
df_2018_total.columns

Index(['기준년도', '가입자일련번호', '진료내역일련번호', '성별코드', '연령대코드', '시도코드', '요양개시일자',
       '서식코드', '진료과목코드', '주상병코드', '부상병코드', '요양일수', '입내원일수', '심결가산율',
       '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수', '데이터기준일자'],
      dtype='object')

In [30]:
# '시도코드'와 '요양개시일자'를 기준으로 그룹화하고 환자 수를 계산
grouped_df_2018 = df_2018_total.groupby(['시도코드', '요양개시일자']).size().reset_index(name='환자 수')
grouped_df_2018

      시도코드     요양개시일자  환자 수
0       11 2018-01-02    53
1       11 2018-01-03    36
2       11 2018-01-04    34
3       11 2018-01-05    50
4       11 2018-01-06    30
...    ...        ...   ...
5440    49 2018-12-26     1
5441    49 2018-12-27     2
5442    49 2018-12-28     4
5443    49 2018-12-29     1
5444    49 2018-12-31     3

[5445 rows x 3 columns]

In [31]:
# 총 환자 수 계산
total_patient_count_2018 = grouped_df_2018['환자 수'].sum()
total_patient_count_2018

65048

In [32]:
from datetime import datetime, timedelta
# 2018년의 모든 날짜 생성
start_date = datetime(2018, 1, 1)
end_date = datetime(2018, 12, 31)
all_dates = pd.date_range(start_date, end_date)

# 주어진 데이터에서 사용된 날짜 추출
used_dates = pd.to_datetime(grouped_df_2018['요양개시일자'], format='%Y-%m-%d')

# 결측치 확인
missing_dates = all_dates[~all_dates.isin(used_dates)]

print(f'결측치가 있는 날짜 수: {len(missing_dates)}')
print('결측치가 있는 날짜 목록:')
print(missing_dates)

결측치가 있는 날짜 수: 0
결측치가 있는 날짜 목록:
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

# 2017년 데이터 합치기

In [33]:
# 파일 경로 설정 (파일이 현재 작업 디렉토리에 있을 경우 파일 이름만 사용해도 됩니다)
file_path = "data/HP_2017.CSV"

# 2018 1번째 데이터 불러오기
df_2017 = pd.read_csv(file_path, encoding="cp949")
df_2017

,STND_Y,IDV_ID,KEY_SEQ,SEX,AGE_GROUP,SIDO,RECU_FR_DT,FORM_CD,DSBJT_CD,MAIN_SICK,SUB_SICK,VSCN,RECN,EDEC_ADD_RT,EDEC_TRAMT,EDEC_SBRDN_AMT,EDEC_JBRDN_AMT,TOT_PRES_DD_CNT,DATA_STD_DT
0,2017,176498,3907,1,17,30,2017-03-27,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
1,2017,176498,3908,1,17,30,2017-03-29,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
2,2017,244062,438625,1,17,26,2017-03-21,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
3,2017,244062,438637,1,17,26,2017-03-14,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
4,2017,244062,438638,1,17,26,2017-03-17,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12647992,2017,214873,9681502,2,14,11,2017-06-04,2,4,C5021,R113,2,2,0.25,1160860,65800,1095060,0,2022-03-15
12647993,2017,694588,9681877,1,15,11,2017-06-04,2,1,D469,Z511,11,32,0.30,5862110,374530,5487580,0,2022-03-15
12647994,2017,668040,9681923,2,11,31,2017-06-04,2,10,C569,Z511,3,24,0.30,1843090,92150,1750940,0,2022-03-15
12647995,2017,498479,9682254,2,10,42,2017-06-04,2,1,R042,M05990,5,17,0.25,1937530,452210,1485320,0,2022-03-15
12647996,2017,542495,9682408,1,11,28,2017-06-04,2,1,A099,K2530,2,7,0.25,370640,74120,296520,0,2022-03-15

In [34]:
df_2017_new = df_2017.rename(columns={
    'STND_Y': '기준년도',
    'IDV_ID': '가입자일련번호',
    'KEY_SEQ': '진료내역일련번호',
    'SEX': '성별코드',
    'AGE_GROUP': '연령대코드',
    'SIDO': '시도코드',
    'RECU_FR_DT': '요양개시일자',
    'FORM_CD': '서식코드',
    'DSBJT_CD': '진료과목코드',
    'MAIN_SICK': '주상병코드',
    'SUB_SICK': '부상병코드',
    'VSCN': '요양일수',
    'RECN': '입내원일수',
    'EDEC_ADD_RT': '심결가산율',
    'EDEC_TRAMT': '심결요양급여비용총액',
    'EDEC_SBRDN_AMT': '심결본인부담금',
    'EDEC_JBRDN_AMT': '심결보험자부담금',
    'TOT_PRES_DD_CNT': '총처방일수',
    'DATA_STD_DT': '데이터기준일자'
})

In [35]:
df_2017_new

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
0,2017,176498,3907,1,17,30,2017-03-27,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
1,2017,176498,3908,1,17,30,2017-03-29,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
2,2017,244062,438625,1,17,26,2017-03-21,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
3,2017,244062,438637,1,17,26,2017-03-14,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
4,2017,244062,438638,1,17,26,2017-03-17,3,1,J209,J304,1,1,0.15,10620,1500,9120,3,2022-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12647992,2017,214873,9681502,2,14,11,2017-06-04,2,4,C5021,R113,2,2,0.25,1160860,65800,1095060,0,2022-03-15
12647993,2017,694588,9681877,1,15,11,2017-06-04,2,1,D469,Z511,11,32,0.30,5862110,374530,5487580,0,2022-03-15
12647994,2017,668040,9681923,2,11,31,2017-06-04,2,10,C569,Z511,3,24,0.30,1843090,92150,1750940,0,2022-03-15
12647995,2017,498479,9682254,2,10,42,2017-06-04,2,1,R042,M05990,5,17,0.25,1937530,452210,1485320,0,2022-03-15
12647996,2017,542495,9682408,1,11,28,2017-06-04,2,1,A099,K2530,2,7,0.25,370640,74120,296520,0,2022-03-15

In [36]:
# '주상병코드' 혹은 '부상병코드' 열의 값이 'L20'을 포함하는 행들 출력
df_2017_new_ = df_2017_new[df_2017_new['주상병코드'].str.contains('L20', na=False) | df_2017_new['부상병코드'].str.contains('L20', na=False)]
df_2017_new_

,기준년도,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,주상병코드,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터기준일자
1381,2017,255752,3520412,1,14,28,2017-12-18,3,1,J209,L209,1,1,0.15,10620,1500,9120,3,2022-03-15
2485,2017,298662,447302,1,14,27,2017-03-10,3,1,J209,L209,1,1,0.15,10620,1500,9120,3,2022-03-15
5357,2017,410799,12090589,1,16,44,2017-05-26,3,1,J209,L209,1,1,0.15,10620,1500,9120,3,2022-03-15
5638,2017,280950,3117720,2,16,26,2017-02-08,3,1,J209,L2088,1,1,0.15,10620,1500,9120,3,2022-03-15
6855,2017,127305,953626,1,17,41,2017-02-17,3,1,J209,L209,1,1,0.15,10620,1500,9120,3,2022-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12638249,2017,133061,8443020,2,1,44,2017-09-10,3,24,B083,L209,1,3,0.30,33670,27200,6470,0,2022-03-15
12641230,2017,135293,4219058,2,14,11,2017-11-05,3,14,L209,L280,0,0,0.30,200,100,100,0,2022-03-15
12643104,2017,538789,5233747,2,4,28,2017-10-15,2,11,G432,L209,9,16,0.30,2172240,165730,2006510,0,2022-03-15
12643237,2017,466741,5711371,2,11,49,2017-10-15,2,4,C1699,L209,9,23,0.30,38040,0,38040,0,2022-03-15
12645835,2017,50360,6055817,1,1,41,2017-10-22,3,24,R509,L2088,1,3,0.30,112630,66700,45930,0,2022-03-15

In [37]:
# '요양개시일자' 열을 datetime 형식으로 변환
df_2017_new_['요양개시일자'] = pd.to_datetime(df_2017_new_['요양개시일자'], format='%Y-%m-%d')
df_2017_new_['요양개시일자']

C:\Users\user\AppData\Local\Temp\ipykernel_21636\1786014751.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_new_['요양개시일자'] = pd.to_datetime(df_2017_new_['요양개시일자'], format='%Y-%m-%d')

1381       2017-12-18
2485       2017-03-10
5357       2017-05-26
5638       2017-02-08
6855       2017-02-17
              ...
12638249   2017-09-10
12641230   2017-11-05
12643104   2017-10-15
12643237   2017-10-15
12645835   2017-10-22
Name: 요양개시일자, Length: 62303, dtype: datetime64[ns]

In [38]:
# '시도코드'와 '요양개시일자'를 기준으로 그룹화하고 환자 수를 계산
grouped_df_2017 = df_2017_new_.groupby(['시도코드', '요양개시일자']).size().reset_index(name='환자 수')
grouped_df_2017

      시도코드     요양개시일자  환자 수
0       11 2017-01-01     2
1       11 2017-01-02    44
2       11 2017-01-03    35
3       11 2017-01-04    42
4       11 2017-01-05    37
...    ...        ...   ...
5433    49 2017-12-23     5
5434    49 2017-12-26     3
5435    49 2017-12-27     4
5436    49 2017-12-28     3
5437    49 2017-12-29     1

[5438 rows x 3 columns]

In [39]:
# 총 환자 수 계산
total_patient_count_2017 = grouped_df_2017['환자 수'].sum()
total_patient_count_2017

62303

In [40]:
from datetime import datetime, timedelta
# 2017년의 모든 날짜 생성
start_date = datetime(2017, 1, 1)
end_date = datetime(2017, 12, 31)
all_dates = pd.date_range(start_date, end_date)

# 주어진 데이터에서 사용된 날짜 추출
used_dates = pd.to_datetime(grouped_df_2017['요양개시일자'], format='%Y-%m-%d')

# 결측치 확인
missing_dates = all_dates[~all_dates.isin(used_dates)]

print(f'결측치가 있는 날짜 수: {len(missing_dates)}')
print('결측치가 있는 날짜 목록:')
print(missing_dates)

결측치가 있는 날짜 수: 0
결측치가 있는 날짜 목록:
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

# 파일 저장

In [41]:
# 세 데이터프레임을 아래로 합치기
df_2017_2019_total = pd.concat([grouped_df_2017, grouped_df_2018, grouped_df_2019], ignore_index=True)
df_2017_2019_total

       시도코드     요양개시일자  환자 수
0        11 2017-01-01     2
1        11 2017-01-02    44
2        11 2017-01-03    35
3        11 2017-01-04    42
4        11 2017-01-05    37
...     ...        ...   ...
16335    49 2019-12-24     2
16336    49 2019-12-26     5
16337    49 2019-12-27     1
16338    49 2019-12-30     3
16339    49 2019-12-31     3

[16340 rows x 3 columns]

In [55]:
# '시도코드'와 해당 코드에 대응하는 지역 이름 매핑
code_to_region = {
    11: '서울',
    42: '강원',
    26: '부산',
    43: '충북',
    27: '대구',
    44: '충남',
    28: '인천',
    45: '전북',
    29: '광주',
    46: '전남',
    30: '대전',
    47: '경북',
    31: '울산',
    48: '경남',
    36: '세종',
    49: '제주',
    41: '경기',
}

# 새로운 DataFrame 생성
df_2017_2019_total['지역명'] = df_2017_2019_total['시도코드'].map(code_to_region)

In [56]:
df_2017_2019_total

       시도코드     요양개시일자  환자 수 지역명
0        11 2017-01-01     2  서울
1        11 2017-01-02    44  서울
2        11 2017-01-03    35  서울
3        11 2017-01-04    42  서울
4        11 2017-01-05    37  서울
...     ...        ...   ...  ..
16335    49 2019-12-24     2  제주
16336    49 2019-12-26     5  제주
16337    49 2019-12-27     1  제주
16338    49 2019-12-30     3  제주
16339    49 2019-12-31     3  제주

[16340 rows x 4 columns]

In [57]:
# 특정 조건을 만족하지 않는 행 삭제
df_final = df_2017_2019_total[df_2017_2019_total['지역명'].isin(['서울', '부산', '인천', '대구', '대전', '광주', '울산'])]

In [58]:
df_final

       시도코드     요양개시일자  환자 수 지역명
0        11 2017-01-01     2  서울
1        11 2017-01-02    44  서울
2        11 2017-01-03    35  서울
3        11 2017-01-04    42  서울
4        11 2017-01-05    37  서울
...     ...        ...   ...  ..
13161    31 2019-12-26     2  울산
13162    31 2019-12-27     5  울산
13163    31 2019-12-28     1  울산
13164    31 2019-12-30     1  울산
13165    31 2019-12-31     4  울산

[6894 rows x 4 columns]

In [61]:
# 새로운 Excel 파일로 저장
df_final.to_excel('2017-2019_서울및6개광역시_아토피_지역명수정.xlsx', index=False)

In [47]:
df_2017_2019_total.to_excel('2017-2019_총아토피.xlsx', index=False)

In [54]:
# 세 데이터프레임을 아래로 합치기
df_2020_2021_total = pd.concat([grouped_df_2020, grouped_df_2021], ignore_index=True)
df_2020_2021_total

       시도코드     요양개시일자  환자 수
0        11 2020-01-01     1
1        11 2020-01-02    54
2        11 2020-01-03    51
3        11 2020-01-04    29
4        11 2020-01-06    57
...     ...        ...   ...
11075    49 2021-12-27     4
11076    49 2021-12-28     4
11077    49 2021-12-29     6
11078    49 2021-12-30     3
11079    49 2021-12-31     2

[11080 rows x 3 columns]

In [59]:
# '시도코드'와 해당 코드에 대응하는 지역 이름 매핑
code_to_region = {
    11: '서울',
    42: '강원',
    26: '부산',
    43: '충북',
    27: '대구',
    44: '충남',
    28: '인천',
    45: '전북',
    29: '광주',
    46: '전남',
    30: '대전',
    47: '경북',
    31: '울산',
    48: '경남',
    36: '세종',
    49: '제주',
    41: '경기',
}

# 새로운 DataFrame 생성
df_2020_2021_total['지역명'] = df_2020_2021_total['시도코드'].map(code_to_region)

In [60]:
# 특정 조건을 만족하지 않는 행 삭제
df_final2 = df_2020_2021_total[df_2020_2021_total['지역명'].isin(['서울', '부산', '인천', '대구', '대전', '광주', '울산'])]
df_final2

      시도코드     요양개시일자  환자 수 지역명
0       11 2020-01-01     1  서울
1       11 2020-01-02    54  서울
2       11 2020-01-03    51  서울
3       11 2020-01-04    29  서울
4       11 2020-01-06    57  서울
...    ...        ...   ...  ..
7849    31 2021-12-27     4  울산
7850    31 2021-12-28     4  울산
7851    31 2021-12-29     4  울산
7852    31 2021-12-30     1  울산
7853    31 2021-12-31     9  울산

[4644 rows x 4 columns]

In [63]:
# 새로운 Excel 파일로 저장
df_final2.to_excel('2020-2021_서울및6개광역시_아토피_지역명수정.xlsx', index=False)